{%extends 'base.html'%}
{%load crispy_forms_tags%}
{%block content%}
<!-- JQuery - autosuggest -->
<link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
    <h1>Filter Companies</h1>
<div class="content-section">
    <form id="filterForm" onsubmit="fetchCount(event)">
        {% csrf_token %}
        <fieldset class="form-group" id="tags">
             <legend class="border-bottom-mb-4">Query Builder</legend>
        {{ form | crispy}}
        </fieldset>
        <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Submit</button>
            </div>
    </form>
</div>
<script>
  $( function() {
    $( "#id_name" ).autocomplete({
      source: "{%url 'auto_complete' %}"
    });
  } );
  </script>
  <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
  <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
{%endblock content%}